body {
	font: 18px/1em Arial;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}
.container {
	display: flex;
	justify-content: space-around;
}
.btn {
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 2px solid;
	text-transform: uppercase;
}
.btn-default {
	color: #18DC18;
	border-color: #18DC18;
}
.btn-default:hover {
	background-color: #18DC18;
	color: #fff;
}
.btn-planet-express {
	color: #0c9aec;
	background-color: #fff;
}
.btn-planet-express:hover {
	background-color: #0c9aec;
	color: #fff;
	border-color: #0c9aec;
}
.btn-mike {
	color: #196fc0;
}
.btn-mike:hover {
	background-color: #196fc0;
	border-color: #196fc0;
	color: #fff;
}
.btn-band {
	background-color: #f8f8f8;
	color: #826b60;
}
.btn-band:hover {
	background-color: #826b60;
	color: #f8f8f8;
	border-color: #826b60;
}

@keyframes bounce {
	0% {
		transform: translateY(-400px);
	}
	60% {
		transform: translateY(60px);
	}
	70% {
		transform: translateY(-45px);
	}
	80% {
		transform: translateY(29px);
	}
	90% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}

.popup {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -260px;
	width: 500px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #000;
	padding: 10px 20px;
	line-height: 25px;
}
.popup-container.active .popup {
	transition: all .3s;
	animation: bounce;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
.popup-close {
	position: absolute;
	top: 0;
	right: -50px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	cursor: pointer;
}
.popup-close:before,
.popup-close:after {
	display: block;
	position: absolute;
	top: 14px;
	left: 7px;
	width: 16px;
	height: 2px;
	background-color: #fff;
	opacity: 0.5;
	content: '';
	transition: transform .3s;
}
.popup-close:hover:before {
	transform: rotate(45deg);
}
.popup-close:hover:after {
	transform: rotate(-45deg);
}
.popup-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}
.popup-content {
	color: #333;
	font-size: 16px;
	text-align: center;
}

.popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
.popup-container.active {
	display: block;
}