body {
	font: 17px/22px 'Open Sans';
	margin: 0;
	padding: 0;
}
.clearfix:after {
	display: block;
	width: 100%;
	height: 0;
	content: '';
	clear: both;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
.wrapper-sm {
	width: 800px;
}

/*дропдаун*/
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	display: none;
	text-align: left;
	background: #1e2123;
	min-width: 104px;
	border: 3px solid #1e2123;
	left: -50%;
	top: 40px;
	min-width: 150px;
}
.dropdown.active .dropdown-menu {
	display: block;
}
.dropdown-btn {
	cursor: pointer;
}
.dropdown-menu:before {
	display: block;
	content: '';
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -16px;
	border: 16px solid transparent;
	border-bottom-color: #1e2123;
}
.dropdown-menu a {
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #fff;
	width: auto;
	padding: 10px 25px;
	font-weight: 800;
}
.dropdown-menu a:hover {
	color: #1e2123;
	background-color: #fff;
}
.dropdown.active {
	color: #1e2123;
}

.heading {
	margin-bottom: 35px;
}

.main-nav ul,
.slide-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header {
	background: #0b89d2;
	color: #fff;
	padding-top: 40px;
	background: url('../img/head-background.jpg') no-repeat;
	background-size: cover;
}
/*логотип*/
.logo {
	float: left;
	font-weight: 300;
	font-size: 27px;
	line-height: 55px;
}
.logo img {
	vertical-align: middle;
	display: inline-block;
}
.logo .text {
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.logo .bold {
	font-weight: 800;
}

/*главная навигация*/
.main-nav {
	float: right;
}

.main-nav li {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
}
.main-nav li a {
	color: #fff;
	text-decoration: none;
}
.main-nav li {
	position: relative;
}
.main-nav li:after,
.main-nav li:after {
	display: block;
	content: '';
	width: 0;
	margin: 0 auto;
	transition: width .3s;
	height: 2px;
	background-color: #fff;
}
.main-nav li:hover:after {
	width: 100%;
}
.main-nav li.active:hover:after {
	display: none;
}
.main-nav li {
	margin-right: 30px;
}

/* head slider */
.slide-nav {
	margin-left: 80px;
	vertical-align: top;
	margin-bottom: 50px;
}
.slide-nav ul {
	display: inline-block;
}
.slide-nav span,
.slide-nav li {
	padding: 7px 9px;
	border: 3px solid;
	/*color: #fff;*/
	display: inline-block;
	font-weight: 800;
	font-size: 16px;
	cursor: pointer;
}
.slide-nav span:hover,
.slide-nav li:hover {
	color: #0c9aec;
	background-color: #fff;
	border-color: #fff;
}
.slide-nav li.active:hover,
.slide-nav li.active {
	color: #1e2123;
	background: transparent;
	border-color: #1e2123;
}

.head-slider {
	overflow: hidden;
}
.head-slider .slider-container {
	width: 9999px;
	transition: margin 1s;
	font-size: 0;
}
.head-slider .slide-elem {
	font-size: 17px;
	margin-bottom: 170px;
	width: 800px;
	display: inline-block;
}
.header {
	margin-left: 80px;
	font-size: 41px;
	line-height: 1em;
	font-weight: 800;
	margin-bottom: 85px;
}
.header:after {
	display: block;
	width: 60px;
	height: 10px;
	content: '';
	position: relative;
	top: 40px;
	background-color: #fff;
}