body {
	font: 17px/25px 'Open Sans';
	margin: 0;
	padding: 0;
	min-width: 1280px;
}
.clearfix:after {
	display: block;
	width: 100%;
	height: 0;
	content: '';
	clear: both;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
.wrapper-sm {
	width: 800px;
}
h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	font-weight: inherit;
}
p {
	margin-top: 0;
}
.btn {
	display: inline-block;
	padding: 5px 11px;
	border: 3px solid;
	text-decoration: none;
	font-weight: 800;
	cursor: pointer;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	font-size: 15px;
	border-color: #fff;
}
.btn-default:hover {
	color: #0c9aec;
	background-color: #fff;
}
.btn-gallery {
	color: #0c9aec;
	margin-bottom: 10px;
	margin-right: 10px;
}
.btn-gallery.active {
	color: #fff;
	background-color: #1e2123;
	border-color: #1e2123;
}
.btn-gallery:hover {
	color: #fff;
	border-color: #0c9aec;
	background-color: #0c9aec;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.main-container {
	margin-bottom: 200px;
}
.md-container {
	margin-bottom: 100px;
}

/*дропдаун*/
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	display: none;
	text-align: left;
	background: #1e2123;
	min-width: 104px;
	border: 3px solid #1e2123;
	left: -50%;
	top: 100%;
	min-width: 150px;
}
.dropdown.active .dropdown-menu {
	display: block;
}
.dropdown-btn {
	cursor: pointer;
}
.dropdown-menu:before {
	display: block;
	content: '';
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -16px;
	border: 16px solid transparent;
	border-bottom-color: #1e2123;
}
.dropdown-menu a {
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #fff;
	width: auto;
	padding: 10px 25px;
	font-weight: 800;
	font-size: 11px;
	line-height: 20px;
}
.dropdown-menu a:hover {
	color: #1e2123;
	background-color: #fff;
}
.dropdown.active {
	color: #1e2123;
}

.menu {
	margin-bottom: 175px;
}

.main-nav ul,
.slide-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header {
	background: #0b89d2;
	color: #fff;
	padding-top: 40px;
	background: url('../img/head-background.jpg') no-repeat;
	background-size: cover;
	margin-bottom: 200px;
}
/*логотип*/
.logo {
	float: left;
	font-weight: 300;
	font-size: 27px;
	line-height: 55px;
}
.logo img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 30px;
}
.logo .text {
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.logo .bold {
	font-weight: 800;
}

/*главная навигация*/
.main-nav {
	float: right;
}

.main-nav li {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	position: relative;
	line-height: 58px;
}
.main-nav li a {
	color: #fff;
	text-decoration: none;
}
.main-nav li:after {
	display: block;
	content: '';
	width: 0;
	margin: 0 auto;
	transition: width .3s;
	height: 2px;
	background-color: #fff;
	bottom: 12px;
	position: relative;
}
.main-nav li:hover:after {
	width: 100%;
}
.main-nav li.active:after {
	opacity: 0;
}
.main-nav li {
	margin-right: 30px;
}

/* head slider */
.slide-nav {
	margin-left: 80px;
	vertical-align: top;
	margin-bottom: 50px;
}
.slide-nav ul {
	display: inline-block;
}
.slide-nav span,
.slide-nav li {
	padding: 1px 9px;
	margin-right: 10px;
	border: 3px solid;
	display: inline-block;
	font-weight: 800;
	font-size: 16px;
	cursor: pointer;
}
.slide-nav span:hover,
.slide-nav li:hover {
	color: #0c9aec;
	background-color: #fff;
	border-color: #fff;
}
.slide-nav li.active:hover,
.slide-nav li.active {
	color: #1e2123;
	background: transparent;
	border-color: #1e2123;
}

.head-slider {
	overflow: hidden;
}
.head-slider .slider-container {
	width: 9999px;
	transition: margin 1s;
	font-size: 0;
}
.head-slider .slide-elem {
	font-size: 17px;
	margin-bottom: 170px;
	width: 800px;
	display: inline-block;
}
.main-heading {
	margin-left: 80px;
	font-size: 41px;
	line-height: 1em;
	font-weight: 800;
	margin-bottom: 85px;
}
.main-heading:after {
	display: block;
	width: 60px;
	height: 10px;
	content: '';
	position: relative;
	top: 40px;
	background-color: #1e2123;
}

.head-slider .main-heading:after {
	background-color: #fff;
}

.welcome {
	margin-bottom: 95px;
}

.column {
	width: 50%;
}
.column img {
	width: 100%;
}
.text-col.text-col-right {
	padding-left: 50px;
}
.text-col.text-col-left {
	padding-right: 50px;
	text-align: right;
}
.text-col.text-col-left .content {
	text-align: left;
}

.heading {
	margin-top: 85px;
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 20px;
}

.container-negative .heading {
	margin-right: 50px;
}

.post .column {
	position: relative;
	background-size: cover;
	box-sizing: border-box;
}
.post .content {
	margin-bottom: 85px;
	width: 350px;
}
.container-negative .content {
	width: 350px;
	display: inline-block;
}

.ui-design {
	background: url('../assets/assets-image-1.jpg') no-repeat;
}
.web-development {
	background: url('../assets/assets-image-2.jpg') no-repeat;
}
.logotype {
	background: url('../assets/assets-image-3.jpg') no-repeat;
}
.branding {
	background: url('../assets/assets-image-4.jpg') no-repeat;
}
.post {
	background-size: cover;
}
.post:hover {
	color: #fff;
	background-color: #0e9aeb;
}
.absolute-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(14, 154, 235,0.9);
	display: none;
	z-index: 3;
}
.photo-elem:hover .absolute-overlay,
.post:hover .absolute-overlay {
	display: block;
}
.absolute-overlay .btn {
	position: absolute;
	bottom: 45px;
	left: 40px;
}
.container-negative .absolute-overlay .btn {
	right: 40px;
	left: auto;
}
.gallery-nav {
	margin-left: 80px;
}
.btn-nav {
	margin-bottom: 30px;
}

.gallery-photos {
	justify-content: space-between;
	flex-flow: row wrap;
}
.photo-elem {
	position: relative;
	width: 50%;
	line-height: 0;
	color: #fff;
	text-align: center;
}
.photo-elem .absolute-overlay {
	line-height: 25px;
	padding: 0 80px 80px;
}
.photo-elem .content {
	margin-bottom: 40px;
}
.photo-elem .absolute-overlay .btn {
	position: static;
}
.photo-elem .heading {
	margin-bottom: 40px;
}
.about .heading {
	margin-top: 0;
	font-size: 33px;
	margin-bottom: 40px;
}
.about .heading .thin {
	font-weight: 400;
}
.left-col {
	float: left;
	margin-right: 50px;
}
.right-col {
	float: left;
	margin-left: 50px;
}

.about .left-col {
	height: 410px;
}
.about .left-col img {
	height: 100%;
}
img.floated {
	float: left;
	margin-right: -75%;
	position: relative;
	left: -80%;
}

.skills {
	float: right;
	margin-left: -310px;
	position: relative;
	right: -320px;
	width: 640px;
}

.skills .fill {
	height: 11px;
	background-color: #eee;
	margin-bottom: 18px;
}
.skills .filled {
	background-color: #0c9aec;
	height: 100%;
	width: 0;
	transition: width 2s;
	position: relative;
}
.skills .header {
	font-weight: bold;
	margin-bottom: 25px;
}
.skill .header {
	margin-bottom: 12px;
	font-weight: normal;
}
.skill .filled .text {
	position: absolute;
	right: -43px;
	text-align: center;
	width: 43px;
	top: -22px;
	background-color: #1e2123;
	color: #fff;
	line-height: 23px;
	font-size: 11px;
	transition: opacity 1s;
	opacity: 0;
}