@font-face
{
    font-family: 'Proxima Nova Regular';

    src: url('../fonts/ProximaNovaRegular.eot'), url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaRegular.woff2') format('woff2'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg#proxima_nova_altregular') format('svg');
}
@font-face
{
    font-family: 'Proxima Nova Bold';

    src: url('../fonts/ProximaNovaBold.eot'), url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaBold.woff2') format('woff2'), url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg#proxima_nova_altregular') format('svg');
}
html
{
    font-size: 10px;
    line-height: 10px;
}
body
{
    font-family: 'Proxima Nova Regular';
    font-size: 1.8rem;
    line-height: 3rem;
}
.row-container
{
    padding: 0 45px;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Proxima Nova Bold';

    margin: 0;
}
h2
{
    font-size: 3.6rem;
    line-height: 4.8rem;
}
h3
{
    font-size: 2.4rem;
    line-height: 3rem;
}
h4
{
    font-size: 1.8rem;
    line-height: 2.4rem;
}
h5
{
    font-size: 1.6rem;
    line-height: 2rem;
}
a
{
    text-decoration: none;
}
a:hover,
a:visited,
a:active
{
    text-decoration: none;
}
.dropdown--inline
{
    display: inline-block;

    vertical-align: middle;
}
.main-section
{
    margin-bottom: 25px;
}
.caret
{
    position: relative;

    width: 10px;
    height: 10px;

    transform: rotate(45deg) translateY(-100%);

    border: 1px solid transparent;
    border-right-color: inherit;
    border-bottom-color: inherit;
}
.caret--small
{
    width: 8px;
    height: 8px;

    border: 2px solid transparent;
    border-right-color: inherit;
    border-bottom-color: inherit;
}
.mobile-show
{
    display: none !important;
}
.hidden-class
{
    opacity: 0;
}
.visible
{
    opacity: 1;
}
.nano > .nano-pane
{
    z-index: 20;
    top: 25px;
    bottom: 25px;

    height: auto;

    opacity: 1;
    border-radius: 0;
    background-color: transparent;
}
.nano > .nano-pane:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;

    display: block;

    width: 4px;

    content: '';

    background-color: #c3dbf2;
}
.nano > .nano-pane > .nano-slider
{
    border-radius: 0;
    background-color: #06c;
}
.btn,
a.btn
{
    display: inline-block;

    box-sizing: border-box;

    text-decoration: none;
}
.btn:active,
a.btn:active,
.btn:hover,
a.btn:hover,
.btn:visited,
a.btn:visited,
.btn.active,
a.btn.active
{
    transition: all .2s;
    text-decoration: none;

    box-shadow: none;
}
.btn-rounded,
a.btn-rounded
{
    line-height: 40px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.btn-bordered,
a.btn-bordered
{
    color: #929292;
    border: 2px solid;
    border-color: #929292;
}
.btn-bordered:hover,
a.btn-bordered:hover
{
    color: #fff;
    border-color: #06c;
}
.btn-bordered.active,
a.btn-bordered.active
{
    color: #fff;
    border-color: #c03;
    background-color: #c03;
}
.btn-default,
a.btn-default
{
    line-height: 40px;

    height: 40px;
    padding: 0 10px;
}
.btn-square,
a.btn-square
{
    width: 70px;
    height: 70px;

    color: #fff;
    border-radius: 0;
    background-color: #06c;
}
.btn-square.active,
a.btn-square.active
{
    background-color: #c03;
}
.main-form
{
    margin-bottom: 0;
}
.main-form--grey
{
    background-color: #f4f8fb;
}
.main-form input[type='text'],
.main-form input[type='Email'],
.main-form input[type='phone'],
.main-form input[type='password'],
.main-form textarea
{
    font-size: 1.7rem;

    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;

    color: #252525;
    border: 1px solid #06c;
    border-radius: 0;
    outline: none;
    background-color: #fff;
}
.main-form input[type='text'],
.main-form input[type='Email'],
.main-form input[type='phone'],
.main-form input[type='password']
{
    line-height: 40px;

    height: 40px;
}
.main-form textarea
{
    height: 100px;

    resize: vertical;
}
.main-form .main-form__submit
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.8rem;
    line-height: 40px;

    width: 100%;
    height: 40px;

    color: #fff;
    border: none;
    background-color: #06c;
}
.main-form .main-form__submit--inline
{
    display: inline-block;

    width: auto;
    padding: 0 50px;
}
label.input-label
{
    display: inline-block;

    margin-bottom: 0;

    vertical-align: top;
}
label.input-label input
{
    display: none;
}
label.input-label span
{
    display: block;

    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 15px;

    cursor: pointer;
    transition: border-color .2s, background-color .2s;

    border: 2px solid #06c;
    background-color: #fff;
}
label.input-label.icon-torn span
{
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
label.input-label.icon-torn.icon-corn-bottom span
{
    transform: rotate(180deg);
}
label.input-label.input-label--checkbox span
{
    background-color: #fff;
}
label.input-label.input-label--checkbox input[type=checkbox]:checked + span
{
    background-color: #06c;
}
label.input-label.input-label--radio span
{
    background-color: #06c;
}
label.input-label.input-label--radio input[type=radio]:checked + span
{
    border-color: #c03;
    background-color: #c03;
}
.main-header
{
    position: relative;
    z-index: 20;
}
.main-header__desktop,
.main-header__mobile
{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    height: 100px;

    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
}
.main-header__mobile
{
    display: none;

    height: 70px;
}
.main-header__mobile .pull-left
{
    max-width: 40%;
}
.main-header__mobile .pull-right
{
    max-width: 60%;
}
.main-header__mobile .main-logo
{
    margin-top: 15px;
}
.main-header__mobile .btn-mobile-menu
{
    position: relative;

    overflow: hidden;
}
.main-header__mobile .btn-mobile-menu span
{
    position: absolute;

    display: block;

    width: 16px;
    height: 2px;

    transition: opacity .2s, transform .3s, left .2s, right .2s, top .2s;

    opacity: 1;
    background-color: #fff;
}
.main-header__mobile .btn-mobile-menu span:last-of-type
{
    margin-bottom: 0;
}
.main-header__mobile .btn-mobile-menu span:nth-child(even)
{
    right: 19px;
}
.main-header__mobile .btn-mobile-menu span:nth-child(odd)
{
    left: 19px;
}
.main-header__mobile .btn-mobile-menu span:nth-child(1),
.main-header__mobile .btn-mobile-menu span:nth-child(2)
{
    top: 24px;
}
.main-header__mobile .btn-mobile-menu span:nth-child(3),
.main-header__mobile .btn-mobile-menu span:nth-child(4)
{
    top: 34px;
}
.main-header__mobile .btn-mobile-menu span:nth-child(5),
.main-header__mobile .btn-mobile-menu span:nth-child(6)
{
    top: 44px;
}
.main-header__mobile .btn-mobile-menu.active,
.main-header__mobile .btn-mobile-menu.open
{
    background-color: #c03;
}
.main-header__mobile .btn-mobile-menu.active span,
.main-header__mobile .btn-mobile-menu.open span
{
    width: 30px;
}
.main-header__mobile .btn-mobile-menu.active span:nth-child(even),
.main-header__mobile .btn-mobile-menu.open span:nth-child(even)
{
    right: 9px;
}
.main-header__mobile .btn-mobile-menu.active span:nth-child(odd),
.main-header__mobile .btn-mobile-menu.open span:nth-child(odd)
{
    left: 9px;
}
.main-header__mobile .btn-mobile-menu.active span:nth-child(1),
.main-header__mobile .btn-mobile-menu.open span:nth-child(1),
.main-header__mobile .btn-mobile-menu.active span:nth-child(6),
.main-header__mobile .btn-mobile-menu.open span:nth-child(6)
{
    transform: rotate(43deg);
}
.main-header__mobile .btn-mobile-menu.active span:nth-child(2),
.main-header__mobile .btn-mobile-menu.open span:nth-child(2),
.main-header__mobile .btn-mobile-menu.active span:nth-child(5),
.main-header__mobile .btn-mobile-menu.open span:nth-child(5)
{
    transform: rotate(-43deg);
}
.main-header__mobile .btn-mobile-menu.active span:nth-child(3),
.main-header__mobile .btn-mobile-menu.open span:nth-child(3),
.main-header__mobile .btn-mobile-menu.active span:nth-child(4),
.main-header__mobile .btn-mobile-menu.open span:nth-child(4)
{
    opacity: 0;
}
.main-header__desktop
{
    padding-top: 30px;
}
.main-header__desktop .btn-rounded
{
    margin-right: 20px;

    vertical-align: middle;
}
.main-header__mobile-btn
{
    font-size: 2.4rem;
    line-height: 4.8rem;

    margin-right: -15px;
    padding-right: 30px;

    cursor: pointer;

    color: #06c;
}
.main-header__mobile-menu-dropdown
{
    position: absolute;
    top: 100%;
    left: 100%;

    width: 626px;
    min-width: auto;
    margin: 0;
    padding: 0;

    transform: translate(-50%, 5px);

    border: 1px solid #ededed;
    border-radius: 2px;
    background-color: #f4f8fb;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.15);
}
.main-header__mobile-menu-dropdown:before
{
    position: absolute;
    top: -28px;
    left: 50%;

    display: block;

    margin-left: -24px;

    content: '';

    border: 10px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #f4f8fb;
}
.main-header__like
{
    display: inline-block;

    margin-right: 5px;
}
.main-header__like span
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.6rem;
    line-height: 40px;
}
.main-header__like.active
{
    color: #c03;
}
.main-header__like.active .icon--favorite
{
    color: #fff;
    border-color: #c03;
    background-color: #c03;
}
.main-header__like.active .icon--favorite:before
{
    opacity: 0;
}
.main-header__like.active .icon--favorite:after
{
    opacity: 1;
}
.main-header__links
{
    text-align: right;
}
.main-header__links .btn-rounded:last-of-type
{
    margin-right: 35px;
}
.main-header .icon--login
{
    margin-right: 30px;
    margin-left: 15px;
}
.main-header .icon--favorite
{
    margin-right: 15px;
}
.menu-dropdown__heading
{
    font-family: 'Proxima Nova Bold';
    font-size: 2.4rem;
    line-height: 2.4rem;

    margin-bottom: 30px;
}
.menu-dropdown__container
{
    padding: 35px 30px 20px;

    border-bottom: 1px solid #06c;
}
.menu-dropdown__container:last-of-type
{
    border-bottom: none;
}
.menu-dropdown__contacts
{
    font-size: 1.6rem;
    line-height: 2.4rem;

    position: relative;

    margin-bottom: 15px;
    padding-left: 40px;
}
.menu-dropdown__contacts:before
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 30px;
    height: 30px;
    margin-top: -15px;

    content: '';

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.menu-dropdown__place:before
{
    background-position: -540px -975px;
}
.menu-dropdown__phone:before
{
    background-position: -574px -975px;
}
.menu-dropdown__skype:before
{
    background-position: -574px -1024px;
}
.menu-dropdown__phone-viber:before
{
    left: -30px;

    width: 60px;

    background-position: -625px -975px;
}
.menu-dropdown__email:before
{
    background-position: -656px -1027px;
}
.main-header__phone-dropdown.open .main-header__mobile-btn
{
    color: #c03;
}
.main-header__phone-dropdown.open .icon:before
{
    opacity: 0;
}
.main-header__phone-dropdown.open .icon:after
{
    opacity: 1;
}
.lang-dropdown .dropdown-toggle
{
    font-family: 'Proxima Nova Bold';

    width: 97px;

    transition: background-color .2s;
    text-align: left;

    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.lang-dropdown .dropdown-toggle:hover
{
    background-color: #fafafa;
}
.lang-dropdown .dropdown-toggle img
{
    display: inline-block;

    margin-right: 5px;
    margin-left: 3px;

    vertical-align: text-bottom;
}
.lang-dropdown .dropdown-toggle .caret
{
    border-right-color: #000;
    border-bottom-color: #000;
}
.lang-dropdown.open .dropdown-menu
{
    right: 0;
    left: 0;

    width: 100%;
    min-width: auto;
}
.dropdown-authorize .dropdown-menu
{
    top: 65px;

    width: 400px;
    padding: 30px 70px;

    text-align: center;

    border: 1px solid #06c;
    border-radius: 0;
    background-color: #f4f8fb;
}
.dropdown-authorize .dropdown-menu:before,
.dropdown-authorize .dropdown-menu:after
{
    position: absolute;
    left: 19px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
}
.dropdown-authorize .dropdown-menu:before
{
    z-index: 1;
    top: -30px;

    border-bottom: 15px solid #06c;
}
.dropdown-authorize .dropdown-menu:after
{
    z-index: 2;
    top: -29px;

    border-bottom: 15px solid #f4f8fb;
}
.dropdown-authorize .dropdown-menu__heading
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.8rem;
    line-height: 2.4rem;

    margin-bottom: 40px;
}
.dropdown-authorize .dropdown-menu .dropdown-menu-elem
{
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 60px;

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.dropdown-authorize .dropdown-menu .dropdown-menu-elem:last-of-type
{
    margin-right: 0;
}
.dropdown-authorize .dropdown-menu .dropdown-menu-elem.icon--facebook
{
    background-position: -1134px -107px;
}
.dropdown-authorize .dropdown-menu .dropdown-menu-elem.icon--twitter
{
    background-position: -1223px -107px;
}
.dropdown-authorize .dropdown-menu .dropdown-menu-elem.icon--gmail
{
    background-position: -1303px -107px;
}
.dropdown-authorize.open .icon--login
{
    border-color: #06c;
}
.dropdown-authorize.open .icon--login:before
{
    opacity: 0;
}
.dropdown-authorize.open .icon--login:after
{
    opacity: 1;
}
.main-content
{
    margin-bottom: 80px;
    padding-top: 170px;
}
.main-content-container
{
    min-height: 100vh;
    margin: 0;
    margin-left: 160px;
}
.main-header__filter-left,
.main-header__filter-right
{
    position: fixed;
    z-index: 1;

    height: auto;
}
.main-header__filter-left.absolute,
.main-header__filter-right.absolute
{
    position: absolute;
}
.main-header__filter-left
{
    top: 170px;
    left: 45px;
}
.main-header__filter-left .filter-elem:last-of-type .filter-elem__btn
{
    border-bottom: none;
}
.main-header__filter-left .filter-elem:hover .filter-elem__btn
{
    background-color: #c03;
}
.main-header__filter-right
{
    top: 100px;
    right: 0;

    overflow: hidden;

    width: 400px;
    height: auto;

    transition: width .5s;

    background-color: #fff;
}
.main-header__filter-right:hover
{
    width: 400px !important;
}
.main-header__filter-overlay
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(0,0,0,.3);
}
.filter-elem__btn
{
    float: left;

    transition: background-color .3s;

    border: none;
    border-bottom: 1px solid #fff;
}
.filter-elem__heading
{
    display: block;

    height: 70px;

    cursor: pointer;

    color: #252525;
}
.filter-elem__heading:hover
{
    color: #252525;
}
.filter-elem__heading span
{
    line-height: 70px;

    display: inline-block;
    display: block;

    height: 70px;
    margin-left: 70px;
    padding-left: 20px;

    border-bottom: 1px solid #e6e6e6;
}
.filter-elem__heading input[type='text']
{
    line-height: 70px;

    display: block;

    width: calc(100% - 70px);
    height: 70px;
    margin-left: 70px;
    padding-left: 20px;

    border: none;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fafafa;
}
.filter-elem__content-heading
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.8rem;

    margin-bottom: 25px;

    color: #06c;
}
.filter-elem__content-elem
{
    line-height: 70px;

    height: 70px;
    padding-left: 65px;
}
.filter-elem__content-elem--no-padding
{
    padding-left: 0;
}
.filter-elem__content-elem input:checked + span
{
    font-family: 'Proxima Nova Bold';
}
.filter-elem__content-search input
{
    line-height: 70px;

    width: 100%;
    height: 70px;

    border: none;
    border-bottom: 1px solid #06c;
    outline: none;
}
.filter-elem__search-content
{
    position: absolute;
    top: 70px;
    right: 40px;
    bottom: 0;
    left: 20px;
}
.filter-elem__search-content a,
.filter-elem__search-content label
{
    font-weight: 400;
    line-height: 70px;

    display: block;

    cursor: pointer;

    color: #252525;
}
.filter-elem__search-content a input:checked + span,
.filter-elem__search-content label input:checked + span
{
    font-weight: 700;
}
.filter-elem:last-of-type .filter-elem__btn
{
    border-bottom: none;
}
.filter-elem:hover .filter-elem__btn,
.filter-elem.active .filter-elem__btn
{
    background-color: #fff;
}
.filter-elem:hover .filter-elem__btn:before,
.filter-elem.active .filter-elem__btn:before
{
    opacity: 0;
}
.filter-elem:hover .filter-elem__btn:after,
.filter-elem.active .filter-elem__btn:after
{
    opacity: 1;
}
.filter-elem:hover .filter-elem__btn.icon-red,
.filter-elem.active .filter-elem__btn.icon-red
{
    background-color: #c03 !important;
}
.filter-elem:hover .filter-elem__btn.icon-red:before,
.filter-elem.active .filter-elem__btn.icon-red:before
{
    opacity: 1;
}
.filter-elem:hover .filter-elem__btn.icon-red:after,
.filter-elem.active .filter-elem__btn.icon-red:after
{
    opacity: 0;
}
.main-header__filter-left .filter-elem__content
{
    position: absolute;
    top: 0;
    left: 115px;

    display: none;

    width: 314px;
    padding: 25px 10px 25px 30px;

    background-color: #fff;
}
.main-header__filter-left .filter-elem__content:before
{
    position: absolute;
    top: 20px;
    left: -24px;

    display: block;

    content: '';

    border: 14px solid transparent;
    border-right: 14px solid #fff;
}
.main-header__filter-left .filter-elem.active .filter-elem__btn
{
    color: #fff;
    background-color: #c03;
}
.main-header__filter-left .filter-elem.active .filter-elem__content
{
    display: block;
}
.main-header__filter-right .filter-elem
{
    display: block;
}
.main-header__filter-right .filter-elem.active
{
    z-index: 2;
}
.main-header__filter-right .filter-elem__content
{
    position: absolute;
    z-index: 5;
    top: 70px;
    bottom: 0;
    left: 100%;

    width: 330px;
    padding: 0 40px 20px 20px;

    transition: left .7s;

    background-color: #fff;
}
.main-header__filter-right .filter-elem.active .filter-elem__btn
{
    color: #06c;
    background-color: #fff;
}
.main-header__filter-right .filter-elem.active .filter-elem__content
{
    left: 70px;
}
.main-header__filter-right .filter-elem--input .filter-elem__heading
{
    cursor: initial;
}
.main-header__filter-right .filter-elem__content-search
{
    position: relative;
}
.main-header__filter-right .filter-elem__content-search:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;

    width: 20px;

    content: '';

    background-image: url('../img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.main-header__filter-right .filter-elem__content-search input
{
    padding-right: 20px;
}
.main-range-slider
{
    font-size: 2.4rem;
}
.filter-right-form
{
    position: relative;
    top: 0;
    left: 0;

    display: block;

    width: 400px;

    background-color: #fff;
}
.noUi-horizontal .noUi-handle
{
    top: -11px;

    width: 26px;
    height: 26px;

    border: none;
    border-radius: 50%;
    background-color: #06c;
    box-shadow: none;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after
{
    display: none;
}
.noUi-horizontal
{
    height: 4px;
    margin-top: 33px;
    margin-bottom: 53px;

    border-radius: 0;
    background: #c3dbf2;
    box-shadow: none;
}
.noUi-connect
{
    height: 4px;

    border-radius: 0;
    background: #75ace3;
    box-shadow: none;
}
.noUi-base
{
    width: auto;
    margin: 0 8px 0 16px;
}
.filter-sort
{
    padding: 23px 0;
}
.filter-sort:last-of-type
{
    margin-bottom: 0;
}
.filter-sort__heading
{
    font-size: 1.8rem;
    line-height: 24px;
}
.filter-sort__buttons
{
    font-size: 0;
    line-height: 24px;

    width: 80px;
}
.list-elem
{
    display: block;
    overflow: hidden;

    margin-right: -5px;
    margin-bottom: 20px;
    margin-left: -5px;

    text-align: center;
    vertical-align: top;

    border: 1px solid #e6e6e6;
}
.list-elem__img
{
    position: relative;

    overflow: hidden;
}
.list-elem__img img
{
    position: absolute;
    top: -999px;
    right: -999px;
    bottom: -999px;
    left: -999px;

    min-width: 100%;
    min-height: 100%;
    margin: auto;
}
.list-elem__heading
{
    font-family: 'Proxima Nova Bold';

    display: block;

    padding: 0 25px;

    transition: color .2s;

    color: #06c;
}
.list-elem__heading:hover
{
    color: #c03;
}
.list-elem__sold
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: none;
}
.list-elem__sold .btn-sold
{
    font-size: 18px;
    line-height: 48px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 172px;
    padding: 0;

    transform: translate(-50%, -50%);

    color: #fff;
    border: 2px solid rgba(255,255,255,.95);
    border-radius: 0;
    background-color: rgba(204,0,51,.95);
    box-shadow: 0 0 0 4px rgba(204,0,51,.95);
}
.list-elem__price
{
    font-family: 'Proxima Nova Bold';
    font-size: 3rem;
    line-height: 50px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 210px;
    margin: 0 auto;
    padding: 0 20px;

    text-align: center;

    color: #fff;
    background-color: #06c;
}
.list-elem__price--torn
{
    transform: translateY(-50%);
}
.list-elem__vendor-code
{
    font-size: 1.6rem;
    line-height: 2.4rem;

    display: table;

    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 25px;

    color: #252525;
}
.list-elem__buttons
{
    z-index: 3;

    height: 30px;
    margin-bottom: 15px;
    padding: 20px 30px 0;

    text-align: left;
}
.list-elem__btn
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 10px;

    border-radius: 50%;
}
.list-elem__data
{
    display: flex;

    width: 100%;
    padding: 0 20px;

    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
.list-elem__data-elem
{
    position: relative;

    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;

    text-align: left;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}
.list-elem__data-elem:before,
.list-elem__data-elem:after
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 35px;
    height: 35px;

    content: '';
    transform: translateY(-50%);

    opacity: 0;
    background-color: transparent;
    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.list-elem__data-elem:before
{
    opacity: 1;
}
.list-elem__data-elem:hover:before
{
    opacity: 0;
}
.list-elem__data-elem:hover:after
{
    opacity: 1;
}
.list-elem__data-elem:hover .list-elem__data-elem__hidden
{
    opacity: 1;
}
.list-elem__data-elem__hidden
{
    font-family: 'Proxima Nova Regular';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 30px;

    position: absolute;
    top: 100%;
    left: 0;

    display: inline-block;

    transition: opacity .3s;
    transform: translateX(-25%);
    white-space: nowrap;

    opacity: 0;
    color: #06c;
}
.list-elem__place
{
    font-size: 1.6rem;
    line-height: 2.4rem;

    position: relative;

    margin-bottom: 10px;
    padding-right: 25px;
    padding-left: 45px;

    text-align: left;
}
.list-elem__place:before
{
    position: absolute;
    top: 50%;
    left: 25px;

    display: block;

    width: 16px;
    height: 20px;

    content: '';
    transform: translateY(-50%);

    background: url('../img/main-sprite-2.svg') no-repeat -597px -248px;
}
.list-elem--small
{
    position: relative;

    height: 360px;

    border: none;
}
.list-elem--small .list-elem__data-elem
{
    flex-basis: 50%;
}
.list-elem--small .list-elem__img,
.list-elem--small .list-elem__sold
{
    height: 220px;
}
.list-elem--small .list-elem__price
{
    font-size: 2.4rem;
    line-height: 40px;
}
.list-elem--small .list-elem__container
{
    position: absolute;

    width: 100%;
    height: 100%;

    transition: transform 1s, border .6s;
    transform: rotateX(0deg);

    border: 1px solid #e6e6e6;

    transform-style: preserve-3d;
}
.list-elem--small .list-elem__front-side,
.list-elem--small .list-elem__back-side
{
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: #fff;

    backface-visibility: hidden;
}
.list-elem--small .list-elem__back-side
{
    padding-top: 10px;

    transform: rotateX(180deg);
}
.list-elem--small .list-elem__front-side .icon--list-like
{
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;

    opacity: 0;
}
.list-elem--small .list-elem__front-side .icon--list-like.active
{
    opacity: 1;
}
.list-elem--small .list-elem__heading
{
    margin-bottom: 10px;
}
.list-elem--small .list-elem__buttons
{
    padding: 0 10px;
}
.list-elem--small:hover .list-elem__container
{
    transform: rotateX(180deg);

    border: 1px solid #06c;
}
.list-elem--large
{
    height: 740px;
}
.list-elem--large .list-elem__sold,
.list-elem--large .list-elem__img
{
    height: 386px;
}
.list-elem--large .list-elem__heading
{
    margin-bottom: 35px;
}
.list-elem--large .list-elem__price
{
    font-size: 3rem;
    line-height: 50px;

    min-width: 264px;
}
.list-elem--large .list-elem__vendor-code
{
    margin-bottom: 15px;
    padding: 10px 30px;

    border-bottom: 2px solid #c8c8c8;
}
.list-elem--large .list-elem__buttons
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.list-elem--large .list-elem__data
{
    margin-bottom: 25px;
}
.list-elem--large .list-elem__place
{
    padding: 25px 55px;

    border-top: 1px solid #e6e6e6;
}
.list-elem--large .list-elem__btn
{
    transition: opacity .5s;

    opacity: 0;
}
.list-elem--large .list-elem__btn.active
{
    opacity: 1;
}
.list-elem--large:hover .list-elem__btn
{
    opacity: 1;
}
.list-elem--sold .list-elem__sold
{
    display: block;
}
.list-elem--sold .list-elem__img
{
    opacity: .6;
}
.list-elem__bedroom:before,
.list-elem__bedroom:after
{
    background-position: -239px -248px;
}
.list-elem__bathroom:before,
.list-elem__bathroom:after
{
    background-position: -332px -245px;
}
.list-elem__square-space:before,
.list-elem__square-space:after
{
    background-position: -414px -242px;
}
.list-elem__cube-space:before,
.list-elem__cube-space:after
{
    background-position: -490px -242px;
}
.property-card-slider
{
    position: relative;
}
.property-card-slider__elem
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 625px;
    height: 400px;

    vertical-align: top;

    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    outline: none;
}
.property-card-slider__elem img
{
    position: absolute;
    z-index: 1;
    top: -999px;
    right: -999px;
    bottom: -999px;
    left: -999px;

    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    max-height: 150%;
    margin: auto;
}
.property-card-slider__header
{
    line-height: 25px;

    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;

    padding: 14px;

    cursor: pointer;
    transition: background-color .2s;

    color: #fff;
    background-color: rgba(255,255,255,.2);
}
.property-card-slider__header:hover
{
    background-color: rgba(255,255,255,.5);
}
.property-card-slider__btn-big
{
    display: inline-block;

    width: 25px;
    height: 25px;
    margin-right: 15px;

    vertical-align: top;

    background: url('../img/icon-show-img.svg') no-repeat center center;
}
.property-card-slider__elem-overlay
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity .3s;

    background-color: rgba(0,0,0,.35);
}
.property-card-slider .slick-center .property-card-slider__elem-overlay
{
    opacity: 0;
}
.property-card-slider .slick-next.slick-arrow,
.property-card-slider .slick-prev.slick-arrow
{
    position: absolute;
    z-index: 2;
    top: 50%;

    display: block;

    width: 60px;
    height: 70px;

    transition: background-color .3s;
    transform: translateY(-50%);

    color: #fff;
    background-color: rgba(27,16,2,.8);
    background-repeat: no-repeat;
    background-position: center center;
}
.property-card-slider .slick-next.slick-arrow:hover,
.property-card-slider .slick-prev.slick-arrow:hover
{
    background-color: #1b1002;
}
.property-card-slider .slick-next.slick-arrow:before,
.property-card-slider .slick-prev.slick-arrow:before
{
    display: none;
}
.property-card-slider .slick-next.slick-arrow
{
    right: 0;

    background-image: url('../img/arrow-right.svg');
}
.property-card-slider .slick-prev.slick-arrow
{
    left: 0;

    background-image: url('../img/arrow-left.svg');
}
.property-card__header .list-elem__heading
{
    margin-bottom: 35px;
}
.property-card__header .list-elem__data
{
    font-family: 'Proxima Nova Bold';

    justify-content: space-between;
}
.property-card__header .list-elem__data > div
{
    text-align: center;

    flex-basis: 25%;
}
.property-card__header .list-elem__data-elem
{
    display: inline-block;

    margin-bottom: 50px;
    padding-left: 80px;
}
.property-card__header .list-elem__data-elem:before,
.property-card__header .list-elem__data-elem:after
{
    width: 50px;
    height: 50px;
}
.property-card__tag-container
{
    margin-bottom: 55px;
}
.property-card__heading
{
    margin-bottom: 40px;

    color: #06c;
}
.property-card__heading--no-margin
{
    margin-bottom: 15px;
}
.property-card__tag
{
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px 20px;

    cursor: initial;

    color: #fff;
    border: none;
    background-color: #06c;
    box-shadow: none;
}
.property-card__tag:hover
{
    color: #fff;
}
.property-card__tag:last-of-type
{
    margin-right: 0;
}
.property-card__tag-img
{
    margin-bottom: 30px;
}
.property-card__map
{
    height: 430px;
}
.property-card__form
{
    padding: 45px 150px;
}
.property-card__block-link
{
    display: block;

    margin-bottom: 30px;

    border: 1px solid #06c;
}
.property-card__block-link:hover
{
    transition: color .2s, background-color .2s, border-color .2s;

    color: #fff;
    border-color: #c03;
    background-color: #c03;
}
.property-card__block-link:hover .property-card__block-link-content
{
    transition: color .2s;

    color: #fff;
}
.property-card__block-link:hover .btn-square
{
    transition: background-color .2s;

    background-color: #c03;
}
.property-card__block-link-content
{
    font-size: 1.8rem;
    line-height: 20px;

    display: inline-block;

    padding: 25px 20px;
    padding-right: 0;

    vertical-align: top;

    color: #242424;
}
.property-card__info
{
    margin-bottom: 40px;
}
.property-card__info-elem
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.8rem;

    position: relative;

    display: inline-block;

    padding: 0 30px;

    vertical-align: middle;
}
.property-card__info-elem:before
{
    position: absolute;
    top: 50%;
    right: 0;

    display: block;

    width: 2px;
    height: 13px;

    content: '';
    transform: translateY(-50%);

    background-color: #252525;
}
.property-card__info-elem:last-of-type:before
{
    display: none;
}
.other-property-slider
{
    margin-right: -10px;
    margin-left: -10px;
}
.other-property-slider .slick-arrow
{
    top: 50%;

    display: block;

    width: 28px;
    height: 72px;
    margin-top: -36px;

    transition: opacity .3s;

    opacity: .6;
}
.other-property-slider .slick-arrow:hover
{
    opacity: 1;
}
.other-property-slider .slick-arrow:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
    background-position: -715px -1093px;
}
.other-property-slider .slick-arrow.slick-next
{
    right: -45px;
}
.other-property-slider .slick-arrow.slick-next:before
{
    transform: rotate(180deg);
}
.other-property-slider .slick-arrow.slick-prev
{
    left: -45px;
}
.other-property-elem
{
    display: inline-block;

    width: 300px;
    margin-right: 10px;
    margin-left: 10px;

    vertical-align: top;

    outline: none;
}
.other-property-elem:last-of-type
{
    margin-right: 0;
}
.other-property-elem .list-elem__place
{
    padding-right: 15px;
}
.popular-article
{
    display: block;

    height: 340px;

    border: 1px solid #e6e6e6;
}
.popular-article__img
{
    position: relative;

    overflow: hidden;

    height: 252px;
    margin-bottom: 20px;
}
.popular-article__img img
{
    position: absolute;
    top: -999px;
    right: -999px;
    bottom: -999px;
    left: -999px;

    min-width: 100%;
    max-width: 200%;
    min-height: 100%;
    margin: auto;
}
.popular-article__heading
{
    font-family: 'Proxima Nova Bold';
    font-size: 1.8rem;
    line-height: 2.4rem;

    padding: 0 20px;

    transition: color .2s;

    color: #06c;
}
.popular-article:hover .popular-article__heading
{
    color: #c03;
}
.main-footer
{
    position: relative;
    z-index: 10;

    overflow: hidden;

    height: 430px;
    max-height: 100vh;

    border-top: 8px solid #06c;
    background-color: #fff;
}
.main-footer__right-col
{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;

    max-width: 490px;
    padding: 65px 85px 0;

    background-color: #fff;
}
.main-footer__links
{
    margin-bottom: 25px;
    padding: 30px 0;

    border-top: 1px solid #cce0f5;
    border-bottom: 1px solid #cce0f5;
}
.main-footer__phone
{
    font-family: 'Proxima Nova Bold';
    font-size: 2.4rem;
    line-height: 2.4rem;
}
.main-footer__copyrights
{
    font-size: 1.4rem;
    line-height: 2rem;
}
.main-footer-overlay
{
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: calc(100% - 490px);

    width: 100%;
    padding: 65px 534px 0 114px;

    transition: left 1.2s;

    background-color: #fff;
    box-shadow: -1px 0 7px 0 rgba(0,0,0,.2);
}
.main-footer-overlay__content
{
    padding: 50px 40px 20px;

    border: 2px solid #06c;
}
.main-footer-overlay__content p
{
    margin-bottom: 30px;
}
.main-footer-overlay__heading
{
    font-family: 'Proxima Nova Bold';

    margin-bottom: 30px;
}
.main-footer-overlay__btn
{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -39px;

    width: 39px;
    height: 70px;
    margin-top: -35px;

    cursor: pointer;
    transition: width .5s, background-color .5s, color .5s, border-radius 1.2s linear, left .5s;

    color: #06c;
    border-radius: 10px 0 0 10px;
    background: url('../img/icon-left-arrow-double.png') no-repeat center center #f4f8fb;
    box-shadow: inset -1px 0 7px 0 rgba(0,0,0,.2);
}
.main-footer-overlay.active
{
    left: 44px;
}
.main-footer-overlay.active .main-footer-overlay__btn
{
    left: -44px;

    width: 44px;

    color: #fff;
    border-radius: 0;
    background: url('../img/icon-left-arrow-double-hover.png') no-repeat center center #f4f8fb;
    background-color: #06c;
}
.main-footer-map
{
    position: relative;
    z-index: 3;

    height: 100%;

    background-color: #c03;
}
.main-footer-icon-col
{
    position: relative;

    margin-bottom: 35px;
    padding-left: 40px;
}
.main-footer-icon-col:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 30px;
    height: 30px;

    content: '';

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.main-footer__place:before
{
    background-position: -1138px -962px;
}
.main-footer__phone:before
{
    background-position: -1139px -1013px;
}
.big-map-popup
{
    position: fixed !important;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background-color: #fff;
}
.main-popup
{
    position: fixed;
    z-index: 25;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
}
.main-popup--blue .main-popup__window
{
    color: #fff;
    background-color: #06c;
}
.main-popup__window
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: auto;
    max-width: 930px;
    padding: 115px 190px;

    transform: translate(-50%, -50%);

    border: 1px solid #fff;
    box-shadow: 0 0 0 10px #06c;
}
.main-popup__heading
{
    margin-bottom: 20px;

    text-align: center;
}
.main-popup__heading h3
{
    font-family: 'Proxima Nova Regular';
}
.main-popup.active
{
    display: block;
}
.popup-overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0,0,0,.3);
}
.popup-close
{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    background: url('../img/icon-cross.png') no-repeat center center;
}
.icon
{
    position: relative;

    overflow: hidden;
}
.icon:before,
.icon:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    overflow: hidden;

    content: '';
    transition: opacity .2s;

    opacity: 0;
    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.icon:before
{
    opacity: 1;
}
.icon:hover:before,
.icon.active:before
{
    opacity: 0;
}
.icon:hover:after,
.icon.active:after
{
    opacity: 1;
}
.icon--favorite
{
    transition: border-color .3s, color .3s, background-color .3s;

    background-color: #929292;
}
.icon--favorite:before
{
    background-position: -1245px -591px;
}
.icon--favorite:after
{
    background-position: -1245px -591px;
}
.icon--favorite:hover,
.icon--favorite.active
{
    color: #fff;
    border-color: #c03;
    background-color: #c03;
}
.icon--login:before
{
    background-position: -1166px -590px;
}
.icon--login:after
{
    background-position: -1166px -651px;
}
.icon--youtube:before
{
    background-position: -795px -226px;
}
.icon--youtube:after
{
    background-position: -795px -291px;
}
.icon--facebook:before
{
    background-position: -862px -226px;
}
.icon--facebook:after
{
    background-position: -862px -291px;
}
.icon--instagram:before
{
    background-position: -929px -226px;
}
.icon--instagram:after
{
    background-position: -929px -291px;
}
.icon--g-plus:before
{
    background-position: -995px -226px;
}
.icon--g-plus:after
{
    background-position: -995px -291px;
}
.icon--filter-search:before
{
    background-position: -100px -415px;
}
.icon--filter-search:after
{
    background-position: -217px -408px;
}
.icon--filter-buy:before
{
    background-position: -100px -415px;
}
.icon--filter-buy:after
{
    background-position: -217px -408px;
}
.icon--filter-property-type:before
{
    background-position: -99px -508px;
}
.icon--filter-property-type:after
{
    background-position: -216px -501px;
}
.icon--filter-city:before
{
    background-position: -28px -552px;
}
.icon--filter-city:after
{
    background-position: -300px -544px;
}
.icon--filter-life-zone:before
{
    background-position: -101px -602px;
}
.icon--filter-life-zone:after
{
    background-position: -218px -595px;
}
.icon--rooms-number:before
{
    background-position: -25px -662px;
}
.icon--rooms-number:after
{
    background-position: -298px -655px;
}
.icon--filter-price:before
{
    background-position: -100px -726px;
}
.icon--filter-price:after
{
    background-position: -217px -719px;
}
.icon--filter-big-search:before
{
    background-position: -25px -777px;
}
.icon--filter-big-search:after
{
    background-position: -300px -770px;
}
.icon--filter-sale:before
{
    background-position: -31px -461px;
}
.icon--filter-sale:after
{
    background-position: -300px -454px;
}
.icon--filter-filter:before
{
    background-position: -105px -842px;
}
.icon--filter-filter:after
{
    background-position: -105px -842px;
}
.icon--filter-map:before
{
    background-position: -24px -892px;
}
.icon--filter-map:after
{
    background-position: -24px -892px;
}
.icon--filter-mail:before
{
    background-position: -102px -979px;
}
.icon--filter-mail:after
{
    background-position: -102px -979px;
}
.icon--filter-like:before
{
    background-position: -30px -1020px;
}
.icon--filter-like:after
{
    background-position: -30px -1020px;
}
.icon--filter-share:before
{
    background-position: -104px -1052px;
}
.icon--filter-share:after
{
    background-position: -104px -1052px;
}
.icon--filter-print:before
{
    background-position: -32px -1105px;
}
.icon--filter-print:after
{
    background-position: -32px -1105px;
}
.icon--filter-pdf:before,
.icon--filter-pdf:after
{
    background-position: -670px -1351px;
}
.icon--header-phone
{
    position: absolute;
    top: 50%;
    left: -30px;

    width: 20px;
    height: 20px;

    transform: translateY(-50%);
}
.icon--header-phone:before
{
    background-position: -800px -85px;
}
.icon--header-phone:after
{
    background-position: -800px -126px;
}
.icon-footer
{
    width: 40px;
    height: 40px;
    margin: 0 20px;

    transition: opacity .2s;

    opacity: .7;
}
.icon-footer:hover
{
    opacity: 1;
}
.icon-footer:hover:before
{
    opacity: 1;
}
.icon-footer:after
{
    display: none;
}
.icon-youtube:before,
.icon-youtube:after
{
    background-position: -1133px -749px;
}
.icon-facebook:before
{
    background-position: -1216px -749px;
}
.icon-instagram:before
{
    background-position: -1297px -749px;
}
.icon-g-plus:before
{
    background-position: -1380px -749px;
}
.icon--list-like.active
{
    background-color: #c03;
}
.icon--list-like:before
{
    background-position: -1125px -231px;
}
.icon--list-like:after
{
    background-position: -1243px -589px;
}
.icon--list-video.active
{
    background-color: #06c;
}
.icon--list-video:before
{
    background-position: -1190px -232px;
}
.icon--list-video:after
{
    background-position: -1190px -232px;
}
.icon--list-eye.active
{
    background-color: #06c;
}
.icon--list-eye:before
{
    background-position: -1257px -232px;
}
.icon--list-eye:after
{
    background-position: -1257px -232px;
}
.property-card .list-elem__data-elem
{
    position: relative;
}
.property-card .list-elem__data-elem:before,
.property-card .list-elem__data-elem:after
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 55px;
    height: 50px;

    content: '';

    opacity: 1;
    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.property-card .list-elem__data-elem:after
{
    opacity: 0;
}
.property-card .list-elem__data-elem:hover:before
{
    opacity: 0;
}
.property-card .list-elem__data-elem:hover:after
{
    opacity: 1;
}
.property-card .list-elem__data-elem--bedroom:before
{
    background-position: -531px -603px;
}
.property-card .list-elem__data-elem--bedroom:after
{
    background-position: -530px -782px;
}
.property-card .list-elem__data-elem--bathroom:before
{
    background-position: -669px -603px;
}
.property-card .list-elem__data-elem--bathroom:after
{
    background-position: -668px -782px;
}
.property-card .list-elem__data-elem--square-space:before
{
    background-position: -807px -603px;
}
.property-card .list-elem__data-elem--square-space:after
{
    background-position: -805px -782px;
}
.property-card .list-elem__data-elem--cube-space:before
{
    background-position: -944px -603px;
}
.property-card .list-elem__data-elem--cube-space:after
{
    background-position: -943px -782px;
}
.property-card .list-elem__data-elem--garage:before
{
    background-position: -531px -685px;
}
.property-card .list-elem__data-elem--garage:after
{
    background-position: -530px -864px;
}
.property-card .list-elem__data-elem--terrace:before
{
    background-position: -665px -685px;
}
.property-card .list-elem__data-elem--terrace:after
{
    background-position: -664px -863px;
}
.property-card .list-elem__data-elem--elevator:before
{
    background-position: -805px -685px;
}
.property-card .list-elem__data-elem--elevator:after
{
    background-position: -803px -864px;
}
.property-card .list-elem__data-elem--side:before
{
    background-position: -943px -685px;
}
.property-card .list-elem__data-elem--side:after
{
    background-position: -942px -864px;
}
.property-card__heading--padding
{
    padding-left: 56px;
}
.property-card__heading--icon
{
    position: relative;
}
.property-card__heading--icon:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 45px;
    height: 45px;
    margin-top: -10px;

    content: '';

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.property-card__heading--icon-map:before
{
    background-position: -627px -225px;
}
.filter-elem__content-elem
{
    font-family: 'Proxima Nova Regular';
    font-weight: 400;

    position: relative;

    display: block;

    cursor: pointer;
}
.filter-elem__content-elem .icon
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 70px;

    background-image: url('../img/main-sprite-2.svg');
    background-repeat: no-repeat;
}
.filter-elem__content-elem .icon.icon-sale
{
    background-position: -315px -454px;
}
.filter-elem__content-elem .icon.icon-tenancy
{
    background-position: -468px -454px;
}
.filter-elem__content-elem .icon.icon-house
{
    background-position: -521px -454px;
}
.filter-elem__content-elem .icon.icon-apartaments
{
    background-position: -577px -454px;
}
.filter-elem__content-elem .icon.icon-stead
{
    width: 49px;

    background-position: -632px -454px;
}
.filter-elem__content-elem .icon.icon-yacht
{
    background-position: -680px -454px;
}
@media screen and (min-width: 1850px)
{
    .main-content-container
    {
        width: auto;
        max-width: 1290px;
    }
}
@media screen and (max-width: 1850px)
{
    .dropdown-authorize .dropdown-menu
    {
        width: 280px;
        padding: 30px;
    }
    .dropdown-authorize .dropdown-menu .dropdown-menu-elem
    {
        margin-right: 20px;
    }
}
@media screen and (max-width: 1600px)
{
    .main-header__filter-left
    {
        left: 0;
    }
    .main-content-container
    {
        margin-left: 75px;
    }
    .main-header__filter-right
    {
        width: 70px;
    }
    .main-header__desktop .btn-rounded
    {
        margin-right: 10px;
    }
    .dropdown-authorize .dropdown-menu
    {
        width: 250px;
        padding: 20px;
    }
    .dropdown-authorize .dropdown-menu .dropdown-menu-elem
    {
        margin-right: 20px;
    }
}
@media screen and (max-width: 1450px)
{
    .main-header__desktop .btn-rounded
    {
        margin-right: 5px;
    }
    .main-popup__window
    {
        max-width: 70%;
        padding: 50px 100px;
    }
}
@media screen and (max-width: 1370px)
{
    .main-content-container
    {
        width: auto;
        max-width: 1170px;
    }
}
@media screen and (max-width: 1320px)
{
    .main-content-container
    {
        max-width: calc(100% - 180px);
    }
    .lang-dropdown .dropdown-toggle
    {
        width: 75px;
        padding: 0 5px;
    }
    .lang-dropdown .dropdown-toggle .caret
    {
        display: none;
    }
}
@media screen and (max-width: 1200px)
{
    .main-header__desktop
    {
        display: none;
    }
    .main-header__mobile
    {
        display: block;
    }
    .main-header__filter-right
    {
        top: 70px;
        right: auto;
        bottom: 0;
        left: 100%;

        overflow: hidden;
        overflow-y: scroll;

        width: 100% !important;

        transition: left 1s;
    }
    .main-header__filter-right.active
    {
        left: 0;
    }
    .main-header__filter-right .filter-elem__content
    {
        width: calc(100% - 70px);
    }
    .main-header__filter-right .filter-right-form
    {
        width: 100%;
        min-height: 100%;
    }
    .main-header__filter-right:hover
    {
        width: 100% !important;
    }
    .property-card__form
    {
        padding: 25px 40px;
    }
    .property-card__tag
    {
        font-size: 2rem;
    }
    .main-popup__window
    {
        max-width: 80%;
        padding: 25px 50px;
    }
    .dropdown-authorize .dropdown-menu
    {
        right: -150px;
        left: auto;

        width: 250px;
        padding: 20px;
    }
    .dropdown-authorize .dropdown-menu .dropdown-menu-elem
    {
        margin-right: 20px;
    }
    .main-content-container
    {
        width: auto;
        max-width: 1100px;
    }
}
@media screen and (max-width: 1024px)
{
    .main-content-container
    {
        max-width: 626px;
        margin: 0 auto;
    }
    .property-card__tag
    {
        font-size: 1.8rem;
    }
    .main-popup__window
    {
        width: 90%;
        max-width: none;
        padding: 25px 50px;
    }
    .dropdown-authorize
    {
        margin-right: 30px;
    }
    .dropdown-authorize .dropdown-menu
    {
        left: 50%;

        width: 250px;
        padding: 20px;

        transform: translateX(-50%);
    }
    .dropdown-authorize .dropdown-menu:before,
    .dropdown-authorize .dropdown-menu:after
    {
        left: 50%;

        margin-left: -15px;
    }
    .dropdown-authorize .icon--login
    {
        margin: 0;
    }
    .popular-article
    {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px)
{
    html
    {
        font-size: 8px;
    }
    .main-header__filter-left
    {
        display: none;
    }
    .main-logo
    {
        display: block;

        max-width: 45%;
    }
    .main-logo img
    {
        max-width: 100%;
    }
    .property-card__tag
    {
        font-size: 2rem;

        margin-right: 10px;

        white-space: normal;
    }
    .mobile-show
    {
        display: block !important;
    }
    .filter-elem:last-of-type .filter-elem__btn
    {
        border-bottom: 1px solid #fff;
    }
}
@media screen and (max-width: 480px)
{
    .popular-article
    {
        height: auto;
        margin-bottom: 0;
        padding: 25px;

        border: none;
        border-bottom: 1px solid #e6e6e6;
    }
    .popular-article__img
    {
        display: none;
    }
    .popular-article__heading
    {
        font-size: 2rem;

        padding: 0;
    }
    .main-popup__window
    {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;

        width: auto;

        transform: none;
    }
}
@media screen and (max-width: 420px)
{
    .property-card__tag
    {
        display: block;

        margin-right: 0;
    }
    .main-header__mobile .pull-left
    {
        max-width: 30%;
    }
    .main-header__mobile .pull-right
    {
        max-width: 70%;
    }
    .main-header .main-logo
    {
        margin-top: 20px;
    }
}
@media print
{
    .main-header__filter-left,
    .main-header__filter-right,
    .main-header__phone-dropdown .caret,
    .main-header__phone-dropdown .dropdown-menu,
    .main-header .col-lg-6.pull-right,
    .list-elem__back-side
    {
        display: none;
    }
    .main-header__phone-dropdown
    {
        display: block;
        float: none;
    }
    .main-header__desktop,
    .main-header__mobile
    {
        position: static;
    }
    .list-elem__price--torn
    {
        transform: none;
    }
    .main-content
    {
        padding-top: 0;
    }
}
